@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/mousewheel';
@import 'swiper/css/keyboard';
@import '../../vendor/livewire/flux/dist/flux.css';
@import "./cards.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

.space {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -38vw 22vh 0px 0px #fff,-14vw 27vh 3px 1px #fff,21vw -25vh 2px 1px #fff,43vw 48vh 2px 3px #fff,-47vw 41vh 3px 3px #fff,-29vw -21vh 0px 1px #fff,16vw -34vh 0px 0px #fff,-34vw 2vh 3px 1px #fff,-22vw -46vh 3px 1px #fff,34vw -17vh 1px 3px #fff,6vw -12vh 3px 3px #fff,-3vw -14vh 3px 3px #fff,-22vw -37vh 3px 1px #fff,-49vw -16vh 0px 3px #fff,-23vw -3vh 1px 2px #fff,24vw -33vh 3px 2px #fff,-7vw -13vh 2px 3px #fff,15vw -37vh 1px 1px #fff,-9vw -46vh 3px 1px #fff,-11vw -33vh 2px 2px #fff,7vw 47vh 2px 2px #fff,-46vw 5vh 3px 2px #fff,-25vw -46vh 0px 3px #fff,-43vw 31vh 0px 3px #fff,40vw -28vh 2px 0px #fff,6vw 34vh 0px 1px #fff,-48vw 43vh 2px 2px #fff,-1vw -21vh 2px 1px #fff,19vw 9vh 1px 0px #fff,-12vw 17vh 3px 2px #fff,-10vw 3vh 0px 0px #fff,-39vw -22vh 1px 3px #fff,-43vw 13vh 1px 2px #fff,-5vw 21vh 1px 0px #fff,-21vw -15vh 2px 1px #fff,31vw -33vh 2px 3px #fff,30vw -13vh 1px 2px #fff,-30vw -16vh 0px 1px #fff,-33vw -5vh 0px 0px #fff,34vw 23vh 0px 0px #fff,41vw 19vh 1px 2px #fff,31vw 36vh 1px 2px #fff,-40vw -38vh 2px 1px #fff,-41vw 36vh 3px 1px #fff,-12vw -13vh 0px 3px #fff,-28vw 4vh 1px 0px #fff,-40vw 43vh 2px 2px #fff,44vw -14vh 2px 3px #fff,-33vw 36vh 3px 1px #fff,36vw -42vh 3px 1px #fff,45vw -16vh 3px 0px #fff,50vw 11vh 1px 3px #fff,-20vw 29vh 2px 0px #fff,-15vw -43vh 2px 3px #fff,-34vw 14vh 0px 1px #fff,29vw -26vh 3px 1px #fff,15vw 33vh 2px 3px #fff,-45vw -30vh 0px 1px #fff,39vw 16vh 2px 3px #fff,14vw -30vh 2px 1px #fff,-36vw 24vh 1px 0px #fff,34vw 21vh 0px 2px #fff,25vw 8vh 2px 3px #fff,-17vw -3vh 0px 3px #fff,-19vw -47vh 2px 2px #fff,-15vw 16vh 0px 1px #fff,10vw -14vh 0px 0px #fff,0vw 7vh 0px 0px #fff,18vw 6vh 0px 2px #fff,-38vw 15vh 0px 2px #fff,35vw -43vh 0px 2px #fff,18vw -12vh 2px 0px #fff,-16vw 7vh 3px 3px #fff,-31vw 27vh 1px 0px #fff,35vw -13vh 2px 3px #fff,12vw 6vh 0px 1px #fff,23vw -5vh 3px 0px #fff,-29vw 45vh 1px 1px #fff,-49vw -44vh 2px 0px #fff,12vw -29vh 3px 1px #fff,-29vw 23vh 0px 3px #fff,-30vw -10vh 3px 3px #fff,-25vw 46vh 0px 1px #fff,40vw -38vh 1px 2px #fff,-16vw -17vh 1px 3px #fff,-32vw -15vh 2px 3px #fff,-24vw 41vh 0px 0px #fff,-21vw -16vh 1px 0px #fff,-48vw 13vh 0px 1px #fff,41vw 30vh 2px 3px #fff,-36vw 45vh 1px 0px #fff,36vw -50vh 1px 2px #fff,21vw -6vh 1px 0px #fff,-25vw 20vh 3px 2px #fff,6vw -14vh 0px 0px #fff,24vw -29vh 1px 0px #fff,42vw -20vh 3px 3px #fff,-23vw -21vh 2px 1px #fff,-2vw -43vh 3px 3px #fff,-41vw 41vh 0px 2px #fff;
    animation: zoom 100s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
